{% extends 'shortener/base_shortener.html' %}

{% block title%}
{{ short_url }}
{% endblock%}

{% block content %}
<div align="center">
    <h3><a href="{{ HOST }}">Go Back</a></h3>
    <p></p>
<table>
    <tr>
        <td><input type="text" id="myShortUrl" value="{{ short_url }}"></td>
        <td><button onclick="myFunctionCopy()">Copy</button></td>
    </tr>
</table>
    <h3 id="x"></h3>
</div>
<!--
<script>
   function myFunctionCopy() {

  /* Get the text field */
  var copyText = document.getElementById("myShortUrl");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Change the text inside <h3> */
  document.getElementById("x").innerHTML = "Copied";
}
</script>
-->
{% endblock %}
